.movievideo-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 5;
  background-color: var(--dark-bg-80);
}

@media screen and (max-width: 845px) {
  .movievideo-modal-container iframe {
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width: 640px) {
  .movievideo-modal-container iframe {
    margin-top: 175px;
    width: 80%;
    height: auto;
  }
}

@media (prefers-color-scheme: light) {
  .movievideo-modal-container {
    background-color: var(--light-primary-white-80);
  }
}