.home-container {
  min-height: calc(100vh - 12rem);
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 75%;
  padding: 7px;
  border-radius: 10px;
  margin-right: 10px;
}

.search-icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 5px;
  fill: var(--dark-primary-black);
}

.search-btn:hover svg {
  fill: var(--dark-accent-color);
}

.search-btn {
  width: 2.8rem;
  height: 2.5rem;
  padding: 0 5px 0 7px;
}