.nomatch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 10rem);
}

.nomatch-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 20px 15px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
}

.nomatch-container img {
  width: 50%;
}

@media screen and (max-width: 635px) {
  .nomatch-container {
    justify-content: flex-start;
    min-height: calc(100vh - 13rem);
  }

  .nomatch-wrapper {
    padding: 15px;
    margin-top: 95px;
  }

  .nomatch-container img {
    width: 100%;
  }
}