:root {
  --dark-bg: hsl(0, 0%, 14%);
  --dark-primary-white: hsla(0, 0%, 100%, 0.87);
  --dark-primary-black: hsl(0, 0%, 14%);
  --dark-accent-color: hsl(182, 99%, 70%);

  --light-bg: hsl(0, 0%, 100%);
  --light-primary-black: hsl(208, 37%, 20%);
  --light-primary-white: hsl(0, 0%, 98%);
  --light-accent-color: hsl(225, 86%, 64%);

  --secondary-color: hsl(182, 99%, 30%);

  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dark-primary-white);
  background-color: var(--dark-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

a.active {
  color: var(--dark-accent-color);
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color: var(--dark-primary-black);
  background-color: var(--accent-color);
}

button:focus,
button:focus-visible {
  outline: 3px auto -webkit-focus-ring-color;
}

input,
select,
textarea {
  font-family: inherit;
}

li {
  list-style: none;
}

main {
  max-width: calc(100vw - 2rem);
  min-height: calc(100vh - 12rem);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-primary-black);
    background-color: var(--light-bg);
  }

  a.active {
    color: var(--light-accent-color);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}